[Desktop Entry]
Type=Application
Name=mb-file-manager
Comment=Personal file manager shim
TryExec=mb-file-manager
Exec=mb-file-manager open %F
Icon=yazi
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
